html {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/* Header */
.header-container {
  display: flex;
  width: 100%;
  height: 50px;
  position: fixed;
  justify-content: left;
  border-bottom: 1px solid seashell;
  background-color: black;
  z-index: 10;
}
.logo_and_space {
  display: inline-block;
  text-align: left;
}
.nav {
  display: inline-block;
  text-align: right;
  width: 100%;
  margin-right: 10px;
}
.nav-item {
  display: inline-flex;
  justify-content: center;
  text-decoration: underline;
  padding: 10px;
}

/* Start of Main Container */
.page-container {
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  flex-direction: column;
  position: relative;
  top: 50px;
  border-bottom: 1px solid seashell;

}

.main {
  display: flex;
  border-bottom: 1px solid seashell;
}

.image-main {
  display: flex;
  background-image: url('../images/img-mission-background.jpg');
  flex-direction: column;
  border-bottom: 1px solid seashell;
  width: 1200px;
  height: 700px;
  justify-content: center;
}

.text-overlay {
  background-color: black;
  flex-direction: column;
  display: flex;
  text-align: center;
  height: 100px;
}

h2, h4 {
  margin: 10px;
}


.main-tiles {
  display: flex;
  width: 1000px;
  height: 1000px;
  border-bottom: 1px solid seashell;
  flex-direction: column;
}

.tiles-header {
  margin-top: 50px;
  display: flex;
  height: 110px;
  width: 1000px;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.tile-container {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  height: auto;
  justify-content: center;

}
.tile {
  display: flex;
  height: 250px;
  width: 300px;
  margin: 10px;
  flex-direction: column;

}
.tile-image {
  display:flex;
  height: 200px;
  width: 300px;
  margin-bottom: 10px;
}



h2, h4 {
  margin: 10px;
}

footer {
  display: flex;
  border-bottom: 1px solid seashell;
  text-align: center;
}
